body {
    margin: 0;
    color:white;
    background-color: rgb(30, 29, 29);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color:darkslategrey;
    font-size:16px;
    padding:5px;
    text-align:center;
}

.project {
    display:flex;
    margin:1em 10% 1em 10%;
    padding: 1em 50px 1em 50px;
    background-color: rgb(30, 29, 60);
}

.project p {
    font-size:20px;
    line-height: 200%;
}

.column {
    float:left;
}

a {
    color:darkcyan;
    text-decoration: none;
}

.about {
    display:flex;
    margin:1em 10% 1em 10%;
}

footer {
    font-size:12px;
    padding:5px;
    margin:20px 0 0 0;
    background-color:darkslategrey;
    text-align:center;
}